@(id: String, changePasswordForm: Form[(String,String,(String, String))], loginForm: Form[(String,String)])(implicit session: play.api.mvc.Session)

@import helper._
@import helper.twitterBootstrap._


@main(session, loginForm) {
	<div class="container">
    	<div class="content">
			<div class="row">
                    <div class="span14">
                    
    
				    <h1>Change Password</h1>
				    
				    @helper.form(routes.Application.passwordUpdate(id)) {
				        
				        <fieldset>
				        	<input type="hidden" name="id" value="@id">
				        	
				            @inputPassword(
				            	changePasswordForm("oldPassword"),
				            	'_label -> "Old Password",
				            	'_error -> changePasswordForm.globalError
				            )
				            
				            @inputPassword(
				                changePasswordForm("password.main"), 
				                '_label -> "New Password",
				                '_help -> "A password must be at least 6 characters. "
				            )
				            
				            @inputPassword(
				                changePasswordForm("password.confirm"), 
				                '_label -> "Repeat password",
				                '_help -> "Please repeat your password again.",
				                '_error -> changePasswordForm.error("password")
				            )
				        
				        </fieldset>
				        
				        <div class="actions">
				            <input type="submit" value="Change password" class="btn primary"> or 
				            <a href="@routes.Application.list()" class="btn">Cancel</a> 
				        </div>
				        
				    }
    
    			</div>
        	</div>
    	</div>
	</div>
}
