@(userForm: Form[User], loginForm: Form[(String,String)])(implicit session: play.api.mvc.Session)

@import helper._
@import helper.twitterBootstrap._

@main(session,loginForm) {
    
    <h1>Add a user</h1>
    
    @helper.form(routes.Application.createUserSave()) {
        
        <fieldset>
        	@inputText(userForm("id"), '_label -> "User id", '_error -> userForm.error("id"), '_showConstraints -> false)
            @inputText(userForm("name"), '_label -> "User name", '_showConstraints -> false)
            @inputPassword(userForm("password"), '_label -> "Password", '_showConstraints -> false)

            @select(
                userForm("permission"), 
                Seq("user"->"User","manager"->"Manager"), 
                '_label -> "Permission",
                 '_showConstraints -> false
            )
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create User" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
